@import "../../definitions";

.hero {
    background-color: $light-background;
    height: 60vh;
    padding: $default-padding;
    display: flex;
    align-items: center;
    .title {
        display: flex;
        align-items: center;
        height: 100%;
        padding-right: 6rem;
    }
    .container {
        padding: 0;
    }
}


