@import "../../definitions";

.feature-card {
    padding: 1.5rem;
    .feature-img {
        height: 12rem;
        .circle {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background-color: $light-background;
        }
    }
    .feature-content {
        text-align: center;
        h4 {
            
        }
        p {
            font-size: 0.8rem;
            color: $light-text-color;
        }
    }

}

@media (max-width: 576px) {
    .feature-card {
        padding: 0 4rem;
    }
 }