@import "../../definitions";

.feature-card {
    width: 18rem;
    max-width: 100%;
    margin: 0 auto;
    .feature-img {
        height: 12rem;
        img {
            width: 6rem;
            max-width: 100%;
        }
    }
    .feature-content {
        text-align: center;
        h4 {
            
        }
        p {
            font-size: 0.8rem;
            color: $light-text-color;
        }
    }

}