@import "custom";
@import "definitions";


@font-face {
  font-family: "Avenir";
  src: url("assets/Avenir2.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Avenir";
  src: url("assets/Avenir0.ttf") format("truetype");
}

@font-face {
  font-family: "glyph";
  src: url("assets/Glyphter.ttf") format("truetype");
}

// @font-face {
//   font-family: "Avenir";
//   src: url("assets/Avenir4.ttf") format("truetype");
//   font-weight: bold;
// }






body {
  margin: 0;
  font-family: 'Avenir' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, b {
    font-weight: bold!important;
}



a:hover {
    text-decoration: none;
}



.full-width {
    width: 100%;
}
.half-width {
    width: 60%;
}
.quarter-width {
    width: 25%;
}
.threeq-width {
    width: 75%;
}
.centered-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.vertical-center {
    display: flex;
    align-items: center;
    height: 100%;
}

.inline-block {
    display: inline-block;
}

.opacity-light {
    opacity: 0.6;
}

.light-background {
    background-color: $light-background;
}

.dark-background {
    background-color: $primary;
    color: #fff;
}


.width-80 {
    width: 80%;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}


.padding {
    padding: 2rem 0;
}

.margin-bottom {
    margin-bottom: 2rem;
}

.button {
    padding: 0.5rem 2rem;
    width: 10rem;
    background-color: $primary;
    color: #fff;
    border-radius: 3rem;
    margin-right: 10px;
}

.button:hover {
    color: #fff;
}


//for sm + xs
@media (max-width: 767px) {
    p {
        font-size: 0.8rem;
    }
    .hidden {
        display: none;
    }
    .half-width,.threeq-width, .width-80 {
        width: 100%;
    }
    .arrow {
        img {
            transform: rotate(90deg);
        }
        padding: 2rem;
    }
    .col-12 {
        margin-bottom: 2rem;
    }
 }