@import "custom";
@import "definitions";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-width {
    width: 100%;
}

.centered-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



@media (max-width: 576px) {
    p {
        font-size: 0.8rem;
    }
 }